# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are Summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List tools used in Data Science
* Demonstrate markup in Jupyter Notebooks
* Show example arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. JavaScript
4. C++
5. JSON

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. pandas
3. ggplot
4. plotly
5. NumPy

| Data Science Tools |
| ------ |
| github |
| Jupyter Notebooks |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Jordan Frank